{% extends 'layouts/main.html' %}
{% block title %} Delete Menu Item {% endblock %}
{% block content %}

<form action = "/vendors/{{data.vendor_id}}/delete_menu_info" method = "post" >
    <div>
        <label for="item">Choose an item to remove from the menu:</label>
        <select id="item" name="item">
            {%for menu in data.menu%}
                <option value={{menu.menu_id}}>{{menu.menu_item}}</option>
            {% endfor %}
        </select>
    </div>

    <input type="submit">

</form>

{% endblock %}