{% extends 'layouts/main.html' %}
{% block title %}New Purchase{% endblock %}
{% block content %}

<form action = "/users/{{data.user_id}}/add_favorites_info" method = "post" >
    <div>
        <label for="favorite">Choose a vendor to add to your favorites:</label>
        <select id="vendor" name="vendor">
            {%for vendor in data.vendors%}
                <option value={{vendor.id}}>{{vendor.name}}</option>
            {% endfor %}
        </select>
    </div>

    <input type="submit">

</form>

{% endblock %}