{% extends 'layouts/main.html' %}
{% block title %} New Deals {% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">Create a new Item</h3>

      <div class="form-group">
        <label for="item">Item</label>
        {{ form.item(class_ = 'form-control', placeholder='burger', autofocus = true) }}
      </div> 

      <div class="form-group">
        <label for="price">Price</label>
        {{ form.price(class_ = 'form-control', placeholder=9, autofocus = true) }}
      </div>

      <div class="form-group">
        <label for="points_required">PointsRequired</label>
        {{ form.points_required(class_ = 'form-control', placeholder= 30, autofocus = true) }}
      </div>

      <div class="form-group">
        <label for="vendor_id">VendorID</label>
        {{ form.vendor_id(class_ = 'form-control', placeholder= 12, autofocus = true) }}
      </div>

      <input type="submit" value="Create Item" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>

  {% endblock %}